In [2]:
## Q1

l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [3]:
l1 = sorted(l, key= lambda x : x[1])
print(l1)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [29]:
## Q2

l1 = [1,2,3,4,5,6,7,8,9,10]

list(map(lambda x: x**2,l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
## Q3

l2 = [1,2,3,4,5,6,7,8,9,10]

list(map(lambda x : str(x),l1))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [32]:
## Q4

l3 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

from functools import reduce

reduce(lambda x,y : x*y, l3)

15511210043330985984000000

In [33]:
## Q5

l4 = [2,3,6,9,27,60,90,150,55,46]

list(filter(lambda x : x%2==0 and x%3==0,l4))

[6, 60, 90, 150]

In [36]:
## Q6

l5 = ['python', 'php', 'aba', 'radar', 'level']

list(filter(lambda x : x==x[::-1],l5))

['php', 'aba', 'radar', 'level']